@model MvcProject.Models.Entity.Admins

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">Kullanıcı Düzenle</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        @Html.HiddenFor(x => x.Id)
                        @Html.Label("Kullanıcı Adı")
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                        <br />
                        @Html.Label("Eski Şifre")
                        @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Yeni Şifre")
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
                        <br />
                        <button class="btn btn-outline-primary btn-sm">Güncelle</button>
                        <a href="/Admin/Index" class="btn btn-outline-dark btn-sm">İptal</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

